{% extends "layout.html" %}
{% block title %}Add Chapter{% endblock title %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

{% endblock head %}


{% block content %}
  <h1>Add Chapter</h1>
  <form method="post">
    {{ form.hidden_tag() }}
    <div>
      {{ form.name.label }}
      {{ form.name }}
      {% if form.name.errors %}
        <ul class="errors">
          {% for error in form.name.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div>
      {{ form.description.label }}
      {{ form.description }}
      {% if form.description.errors %}
        <ul class="errors">
          {% for error in form.description.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div>
      {{ form.subject_id.label }}
      {{ form.subject_id }}
      {% if form.subject_id.errors %}
        <ul class="errors">
          {% for error in form.subject_id.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div>
      {{ form.submit }}
    </div>
  </form>
{% endblock content %}

{% block footer %}
<div class="footer-links">
    <a href="{{ url_for('admin_manage_chapter') }}">Back</a>
</div>
{% endblock footer %}