{% extends "layout.html" %}
{% block title %}Edit Subject{% endblock %}

{% block head %}
    <style>
        .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            padding: 5px;
        }
    </style>
{% endblock head %}

{% block header2 %} 
    <div class="container">
        <ul>
            <li><a href="{{ url_for('admin_manage_chapter') }}">Manage Chapters</a></li>
            <li><a href="{{ url_for('admin_manage_quiz') }}">Manage Quizzes</a></li>
            <li><a href="{{ url_for('admin_manage_subject') }}">Manage Subjects</a></li>
            <li><a href="{{ url_for('admin_manage_user') }}">Manage Users</a></li>
    </div>
{% endblock header2 %}
{% block content %}
<h2>Edit Subject</h2>
<form method="post">
    {{ form.hidden_tag() }}
    <div>
        {{ form.name.label }}
        {{ form.name }}
        {% if form.name.errors %}
        <ul class="errors">
            {% for error in form.name.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div>
        {{ form.description.label }}
        {{ form.description }}
        {% if form.description.errors %}
        <ul class="errors">
            {% for error in form.description.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div>
        {{ form.submit }}
    </div>
</form>
{% endblock %}