{% extends "layout.html" %}
{% block title %}Manage Users{% endblock %}

{% block content %}
<h1>Manage Users</h1>
<form method="POST">
    <input type="text" name="query" placeholder="Search User" value="{{ query }}">
    <button type="submit">Search</button>
</form>
<table>
    <thead>
        <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>Full Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        {% if user.username!="admin@gmail.com" %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.fullname }}</td>
            <td>
                <a href="#">Edit</a>
                <a href="#">Delete</a>
            </td>
        {% endif %}
        </tr>
        {% endfor %}
    </tbody>
{% endblock content %}

{% block footer %}
<br>
<a href="{{ url_for('admin_dashboard') }}">Back</a>
{% endblock footer %}