{% extends "layout.html" %}
{% block title %}Manage Chapters{% endblock %}

{% block content %}
<h1>Manage Chapters</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Chapter-Name</th>
            <th>Description</th>
            <th>Subject-ID</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for chapter in chapters %}
        <tr>
            <td>{{ chapter.id }}</td>
            <td>{{ chapter.name }}</td>
            <td>{{ chapter.description }}</td>
            <td>{{ chapter.subject_id }}</td>
            <td>
                <a href="{{ url_for('admin_edit_chapter', id=chapter.id) }}">Edit</a>
                <a href="{{ url_for('admin_delete_chapter', id=chapter.id) }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ url_for('admin_add_chapter') }}">Add Chapter</a>
<br>
{% endblock content %}

{% block footer %}
<br>
<a href="{{ url_for('admin_dashboard') }}">Back</a>
{% endblock footer %}