{% extends "layout.html" %}

{% block title %}User Dashboard{% endblock %}

{% block content %}

<div>
{% if current_user.is_authenticated %}
    <h1>Hi {{ current_user.fullname }}, Welcome to the User Dashboard!</h1>
{% endif %}
</div>

<div>
    <form method="POST">
        <input type="text" name="query" placeholder="Search" value="{{ query }}">
        <button type="submit">Search</button>
    </form>
</div>

<div>
    <h3>Progress Summary</h3>
    <table>
        <tbody>
            <tr>
                <td>Total Attempted Quizzes</td>
                {% if total_attempted_quizzes>0 %}
                <td>{{ total_attempted_quizzes }}</td>
                {% else %}
                <td>You didn't attempted any quiz.</td>
                {% endif %}
            </tr>
            <tr>
                <td>Average Score</td>
                <td>{{ average_score|round(3) }}</td>
            </tr>
        </tbody>
    </table>
</div>

<br>

<div>
    <h3>List of Subjects:</h3>

        <table>
            <thead>
                <tr>
                    <th>Subject ID</th>
                    <th>Subject Name</th>
                    <th>Description</th>
                    <th>Chapters</th>
                </tr>
            </thead>
            <tbody>
                {% for s in subjects %}
                <tr>
                    <td>{{ s.id }}</td>
                    <td>{{ s.name }}</td>
                    <td>{{ s.description }}</td>
                    <td><a href="{{ url_for('view_chapters', sid=s.id)}}">Chapters</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
<br>
<div>
    <h3>List of Quizzes:</h3>
    <table>
        <thead>
            <tr>
                <th>Quiz ID</th>
                <th>Quiz Name</th>
                <th>Date of Quiz</th>
                <th>Time Duration</th>
                <th>Attempt</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            {% for quiz in quizzes %}
            <tr>
                <td>{{ quiz.id }}</td>
                <td>{{ quiz.name }}</td>
                <td>{{ quiz.date_of_quiz }}</td>
                <td>{{ quiz.time_duration}} Minutes</td>
                <td>
                    <a href="{{ url_for('attempt_quiz', qid=quiz.id) }}">Attempt</a>
                </td>
                <td>
                    <a href="{{ url_for('quiz_result', qid=quiz.id, user_id=current_user.id)}}">Result</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div>
    <h3>List of all Chapters</h3>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Chapter-Name</th>
                <th>Description</th>
                <th>Quizzes</th>
            </tr>
        </thead>
        <tbody>
            {% for chapter in chapters %}
            <tr>
                <td>{{ chapter.id }}</td>
                <td>{{ chapter.name }}</td>
                <td>{{ chapter.description }}</td>
                <td>
                    <a href="{{ url_for('view_quizzes', cid=chapter.id) }}">Quizzes</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div>
    <br>
    <a href="{{ url_for('get_subjects')}}">Get Subjects (API)</a>
    <br>
    <a href="{{ url_for('get_quizzes')}}">Get Quizzes (API)</a>
    <br>
    <a href="{{ url_for('get_scores')}}">Get Scores (API)</a>
    <br>
    <a href="{{ url_for('results', user_id=current_user.id) }}">All Results</a>
    <br>
    <a href="{{ url_for('select_quiz') }}">Select Quiz</a>
</div>

{% endblock content %}
