{% extends "layout.html" %}

{% block title %}User Dashboard{% endblock %}

{% block content %}

<div>
{% if current_user.is_authenticated %}
    <h1>Hi {{ current_user.fullname }}, Welcome to the User Dashboard!</h1>
{% endif %}
</div>

<div>
    <form method="POST">
        <input type="text" name="query" placeholder="Search" value="{{ query }}">
        <button type="submit">Search</button>
    </form>
</div>

<div class="progress-summary" style="border-radius: 8px;">
    <h3 style="color: rgb(6, 132, 44);">Progress Summary</h3>
    <table style="width: 100%; border-collapse: collapse;">
        <thead>
            <tr style="background-color: #003366; color: white;">
                <td style="padding: 10px; text-align: left;">Total Attempted Quizzes</td>
                <td style="padding: 10px; text-align: left;">Average Score</td>
            </tr>
        </thead>
        <tbody>
            <tr style="color: rgb(26, 12, 12);">
                {% if total_attempted_quizzes > 0 %}
                    <td style="padding: 10px; text-align: center;">{{ total_attempted_quizzes }}</td>
                {% else %}
                    <td style="padding: 10px; text-align: center;">You didn't attempt any quiz.</td>
                {% endif %}
                <td style="padding: 10px; text-align: center;">{{ average_score|round(3) }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="chart-container">
    <h3>Quiz Performance Summary</h3>
    <canvas id="quizPerformanceChart"></canvas>
</div>

<div class="chart-container">
    <h3>Leaderboard Chart</h3>
    <canvas id="leaderboardchart"></canvas>
</div>

<br>

<div>
    <h3>List of Subjects:</h3>
    <table>
        <thead>
            <tr>
                <th>Subject ID</th>
                <th>Subject Name</th>
                <th>Description</th>
                <th>Chapters</th>
            </tr>
        </thead>
        <tbody>
            {% for s in subjects %}
            <tr>
                <td>{{ s.id }}</td>
                <td>{{ s.name }}</td>
                <td>{{ s.description }}</td>
                <td><a href="{{ url_for('view_chapters', sid=s.id)}}">Chapters</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>
<div>
    <h3>List of Quizzes:</h3>
    <table>
        <thead>
            <tr>
                <th>Quiz ID</th>
                <th>Quiz Name</th>
                <th>Date of Quiz</th>
                <th>Time Duration</th>
                <th>Attempt</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            {% for quiz in quizzes %}
            <tr>
                <td>{{ quiz.id }}</td>
                <td>{{ quiz.name }}</td>
                <td>{{ quiz.date_of_quiz }}</td>
                <td>{{ quiz.time_duration}} Minutes</td>
                <td>
                    <a href="{{ url_for('attempt_quiz', qid=quiz.id) }}">Attempt</a>
                </td>
                <td>
                    <a href="{{ url_for('quiz_result', qid=quiz.id, user_id=current_user.id)}}">Result</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div>
    <h3>List of all Chapters</h3>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Chapter-Name</th>
                <th>Description</th>
                <th>Quizzes</th>
            </tr>
        </thead>
        <tbody>
            {% for chapter in chapters %}
            <tr>
                <td>{{ chapter.id }}</td>
                <td>{{ chapter.name }}</td>
                <td>{{ chapter.description }}</td>
                <td>
                    <a href="{{ url_for('view_quizzes', cid=chapter.id) }}">Quizzes</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="footer-links">
    <br>
    <a href="{{ url_for('get_subjects')}}">Get Subjects (API)</a>
    <a href="{{ url_for('get_quizzes')}}">Get Quizzes (API)</a>
    <a href="{{ url_for('get_scores')}}">Get Scores (API)</a>
    <a href="{{ url_for('results', user_id=current_user.id) }}">All Results</a>
    <a href="{{ url_for('select_quiz') }}">Select Quiz</a>
</div>

{% endblock content %}

{% block footer %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        let ctx1 = document.getElementById("quizPerformanceChart").getContext("2d");
        let ctx2 = document.getElementById("leaderboardchart").getContext("2d");

        let quizLabels = {{ scores | map(attribute='quiz.name') | list | tojson }};
        let quizScores = {{ scores | map(attribute='total_scored') | list | tojson }};
        
        new Chart(ctx1, {
            type: 'bar',
            data: {
                labels: quizLabels,
                datasets: [{
                    label: 'Quiz Scores',
                    data: quizScores,
                    backgroundColor: 'rgba(54, 162, 235, 0.6)'
                }]
            },
            options: { responsive: true }
        });

        new Chart(ctx2, {
        type: 'bar',
        data: {
        labels: {{ fullnames|tojson }},
        datasets: [{
            label: 'Scores',
            data: {{ user_average_scores|tojson }},
            backgroundColor: ['#28a745']
                }]
            },
            options: { responsive: true,
                    indexAxis: 'y'}
        });

    });
</script>
{% endblock footer %}