<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="static/css/style.css" />
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flash">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
<div class="taskbar">
    <a href="{{ url_for('home') }}">Home</a>    
        <!-- we will go to "http://127.0.0.1:5000/home" when we click on Home -->
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}">Logout</a> 
        {% else %}
            <a href="register">Register</a>    
            <!-- we will go to "http://127.0.0.1.5000/register" when we click on Register -->
            <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
    </ul>
</div>

<div id="header">{% block header2 %}{% endblock %}</div>

<div id="content">{% block content %}{% endblock %}</div>

<div id="footer">{% block footer %}{% endblock %}</div>
</body>
</html>