{% extends "layout.html" %}
{% block title %}View Quizzes{% endblock %}

{% block content %}
<h1>Quizzes for Chapter-ID {{cid}}</h1>
<form method="POST">
    <input type="text" name="query" placeholder="Search Quiz" value="{{ query }}">
    <button type="submit">Search</button>
</form>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Quiz-Name</th>
            <th>Date of Quiz</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for quiz in quizzes %}
        <tr>
            <td>{{ quiz.id }}</td>
            <td>{{ quiz.name }}</td>
            <td>{{ quiz.date_of_quiz }}</td>
            <td><a href="{{ url_for('attempt_quiz', qid=quiz.id) }}">Attempt</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
{% endblock content %}

{% block footer %}
<br>
<a href="{{ url_for('dashboard') }}">Back</a>
{% endblock footer %}